@model List<MvcKutuphane.Models.Entities.Hareketler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    int count = 0;
}

<h2>İadesi Alınan Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem Id</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <td>@item.HareketID</td>
            <td>@item.Kitap1.KitapAd</td>
            <td>@item.Uyeler.UyeAd @item.Uyeler.UyeSoyad</td>
            <td>@item.Personel1.PersonelAd</td>
            <td>@(((DateTime)item.AlisTarih).ToString("dd-MM-yyyy"))</td>
            <td>@(((DateTime)item.UyeGetirTarih).ToString("dd-MM-yyyy"))</td>
            <td><a href="/Odunc/OduncIade/@item.HareketID" class="btn btn-default" style="background-color:#f87cdf; color:white">Detaylar</a></td>
        </tr>
    }
</table>

<br />

