@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MvcKutuphane.Models.Entities.Uyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    int count = 0;
}

<br />

<h2>Üyeler</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Üye Adı Soyadı</th>
        <th>E-Posta</th>
        <th>Şifresi</th>
        <th>Kullanıcı Adı</th>
        <th>Telefonu</th>
        <th>Okulu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@item.UyeID</td>
            <td>@item.UyeAd @item.UyeSoyad</td>
            <td>@item.EMail</td>
            <td>@item.KullaniciAd</td>
            <td>@item.Sifre</td>
            <td>@item.Telefon</td>
            <td>@item.UyeOkul</td>
            <td><a href="/Uye/UyeSil/@item.UyeID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGuncelle/@item.UyeID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<a class="btn btn-primary" href="/Uye/UyeEkle">Yeni Üye Ekle</a>


